<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  ul,li{margin:0;padding:0;}
  li{list-style:none;}
  /* .wrap{padding: 10px;} */
  
  #m-listContainer li {
      height: 150px;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: red;
  }
  
  #m-listContainer li:nth-of-type(2n) {
      background: #fff;
  }
  
  #m-listContainer li:nth-of-type(2n+1) {
      background: #999;
  }
  </style>
<body>
  <div id="J_wrap" class="wrap">
    <ul id="m-listContainer">
        <li id="item-first"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li id="item-last"></li>
    </ul>
</div>
<script type="text/javascript" src="./listScroll.js"></script>
<script>
const container = document.getElementById("m-listContainer");
const lis = document.querySelectorAll("#m-listContainer li");

// const dbData = Array.from(new Array(20)).map((item, idx) => idx);

const renderPage = (firstIndex) => {
  lis.forEach((item, idx) => {
    const li = item;
    li.innerHTML = firstIndex + idx;
  });
};

// const updateDb = (offset, limit = 10) => {
//     for (let i = 0; i < limit; i++) {
//         dbData.push(offset + i);
//     }
// };

renderPage(0);

const renderFunction = (firstIndex) => {
  renderPage(firstIndex);
};

const listScrollIns = new ListScroll({
  firstItemId: "item-first",
  lastItemId: "item-last",
  container,
  listSize: 21,
  itemHeight: 150,
  renderFunction,
});

listScrollIns.startObserver();
</script>
</body>
</html>
